<app-header></app-header>
<app-content
  [sectionName]="'Streamlined Collaboration'" 
  [sectionParagraph]="'GitFlow enables teams to collaborate efficiently by providing a structured workflow. With its branching model, developers can work on features or bug fixes in separate branches, ensuring that the main branch remains stable.'"
  [list]="['Feature branches', 'Release branches', 'Hotfix branches']">
</app-content>
<app-content
  [sectionName]="'Version Control Mastery'" 
  [sectionParagraph]="'GitFlow empowers developers with granular version control. By creating feature branches for each task, you can easily switch between different versions of your codebase. This allows for experimentation and the ability to revert changes when necessary.'"
  [list]="['Version control', 'Code experimentation', 'Effortless rollbacks']">
</app-content>
<app-content
  [sectionName]="'Efficient Deployment'" 
  [sectionParagraph]="'GitFlow simplifies the deployment process by providing designated branches for releases and hotfixes. This ensures that the release branch contains only stable code, making it easier to deploy to production environments.'"
  [list]="['Release branches', 'Hotfix branches', 'Stable deployments']">
</app-content>
<app-footer></app-footer>

<router-outlet></router-outlet>
